
*.rbxl
*.rbxl.lock
*.pyc

lib/*/*
!lib/*/src
!lib/*/README.md

last_tested_package.txt

**/wally.lock
**/build
**/sourcemap.json

# Coverage system work dir + Rust build artifacts
.coverage/
tools/coverage/engine/target/
Cargo.lock

!**/wally.toml
!**/default.project.json
!**/README.md
node_modules

**/__pycache__
