
*.rbxl
*.rbxl.lock

src/baseobject/*
!src/baseobject/baseobject

src/tablemanager/*


src/tablereplicator/*
!src/tablereplicator/tablereplicator

lib/*/*
!lib/*/src

last_tested_package.txt

**/wally.lock
**/build
**/sourcemap.json

!**/wally.toml
!**/default.project.json