table {
    display: table;
    width: initial;
    margin: 0 auto;
}

pre[class*="language-"][class*="language-"] {
    --ifm-pre-padding: 0.5em;
    padding: 0.5em !important;
}

:root {
    --ifm-alert-padding-vertical: 0.5em;
    --ifm-alert-padding-horizontal: 0.5em;
}

[class*="admonition"] {
    margin-bottom: 0.5em;
}